/*
 --------------------------------------------------------------------------
 QFrame
 --------------------------------------------------------------------------
*/

QFrame {
    background-color: rgb(20, 20, 20, 255);
    border-radius: 16px;
}



/*
 --------------------------------------------------------------------------
 QLabel
 --------------------------------------------------------------------------
*/

QLabel {
    border: 0px;
    background-color: transparent;
    color: rgb(100, 175, 255, 60);
    font: 24px bold;
    font-weight: 500;
    outline: none;
}



/*
 --------------------------------------------------------------------------
 QPushButton
 --------------------------------------------------------------------------
*/

QPushButton {
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(100, 175, 255, 60);
    background-color: transparent;
    color: rgb(150, 150, 150, 255);
    font: 16px;
    font-weight: 100;
}

QPushButton:hover {
    color: rgb(200, 200, 200, 255);
    background-color: rgb(100, 175, 255, 20);
}

QPushButton:pressed {
    background-color: rgb(30, 60, 75, 50);
}



/*
 --------------------------------------------------------------------------
 QLineEdit
 --------------------------------------------------------------------------
*/

QLineEdit {
    height: 32px;
    border 2px groove black;
    border-radius: 6px;
    color: rgb(220, 220, 220, 220);
    background-color: rgb(15, 15, 15, 255);
    selection-color: rgb(220, 220, 220, 255);
    selection-background-color: transparent;
    padding: 2px 2px;
}

QLineEdit:hover {
    background-color: rgb(12, 12, 12, 255)
}

QLineEdit:focus {
    background-color: rgb(10, 10, 10, 255)
}
