/*
 --------------------------------------------------------------------------
 QWidget
 --------------------------------------------------------------------------
*/

QWidget {
    background-color: rgb(25, 25, 25, 255);
}



/*
 --------------------------------------------------------------------------
 QPushButton
 --------------------------------------------------------------------------
*/

QPushButton {
    border-radius: 4px;
    border: 0px groove rgb(50, 50, 50, 255);
    background-color: rgb(42, 42, 42, 255);
    color: white;
    width: 75px;
    height: 24px;
}

QPushButton:hover {
    color: white;
    background-color: rgb(60, 60, 60, 255);
}

QPushButton:pressed {
    background-color: rgb(10, 10, 10, 255);
    border-style: inset;
}



/*
 --------------------------------------------------------------------------
 QSpinBox QDoubleSpinBox
 --------------------------------------------------------------------------
*/

QSpinBox, QDoubleSpinBox {
    border: 0px;
    height: 25px;
    padding: 0 4px;
    border-radius: 0px;
    background-color: rgb(50, 50, 50, 100);
    border-bottom: 0px solid rgb(255, 255, 255, 50);
    selection-color: rgb(255, 255, 255, 230);
    selection-background-color: rgb(75, 125, 175, 230);
}

QSpinBox::up-button, QSpinBox::down-button,
QDoubleSpinBox::up-button, QDoubleSpinBox::down-button
{
	width:0px;
}

QSpinBox:focus, QDoubleSpinBox:focus {
    border: 0px solid rgb(75, 125, 175, 230);
    border-bottom: 2px solid rgb(75, 125, 175, 230);
    background-color: rgb(255, 255, 255, 30);
}
