/*
 --------------------------------------------------------------------------
 QWidget
 --------------------------------------------------------------------------
*/

QWidget {
    outline: none;
    background-color: rgb(36, 36, 36, 255);
}



/*
 --------------------------------------------------------------------------
 QGroupBox
 --------------------------------------------------------------------------
*/

QGroupBox {
    border: 0px groove black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(32, 32, 32, 255);
}



/*
 --------------------------------------------------------------------------
 QListWidget
 --------------------------------------------------------------------------
*/

QListWidget {
    outline: none;
    background-color: rgb(35, 35, 35, 255);
    background-image: url(ICON_PATH/image_attachment.png);
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
}



/*
 --------------------------------------------------------------------------
 QLabel
 --------------------------------------------------------------------------
*/

QLabel {
    color: rgb(50, 50, 50, 255);
    background-color: transparent;
}



/*
 --------------------------------------------------------------------------
 QPushButton
 --------------------------------------------------------------------------
*/

QPushButton {
    border-radius: 4px;
    border: 0px groove rgb(50, 50, 50, 75);
    background-color: rgb(25, 25, 25, 255);
    color: white;
}

QPushButton:hover {
    color: black;
    background-color: rgb(30, 30, 30, 255);
}

QPushButton:pressed {
    background-color: rgb(10, 10, 10, 75);
    border-style: inset;
}



/*
 --------------------------------------------------------------------------
 QLineEdit
 --------------------------------------------------------------------------
*/

QLineEdit {
    border 0px groove black;
    border-radius: 2px;
    color: rgb(220, 220, 220, 220);
    background-color: rgb(20, 20, 20, 255);
    selection-color: rgb(220, 220, 220, 220);
    selection-background-color: transparent;
    padding: 2px 2px;
}



/*
 --------------------------------------------------------------------------
 QTextEdit
 --------------------------------------------------------------------------
*/

QTextEdit {
    border 0px groove black;
    border-radius: 2px;
    color: rgb(220, 220, 220, 220);
    background-color: rgb(32, 32, 32, 255);
    selection-color: rgb(220, 220, 220, 220);
    selection-background-color: rgb(42, 42, 255, 50);
    padding: 2px 2px;
    background-image: url(ICON_PATH/image_comment.png);
    background-attachment: fixed;
    background-repeat: none;
    background-position: left top;
}



/*
 --------------------------------------------------------------------------
 QMenu
 --------------------------------------------------------------------------
*/

QMenu {
    border: 1px solid black;
    font: 14px;
    background: rgb(30, 30, 30, 255);
}

QMenu::icon:checked {
    background: rgb(60, 60, 60, 255);
    border: 1px inset gray;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

QMenu::indicator {
    width: 16px;
    height: 16px;
    background: transparent;
}

QMenu::indicator:non-exclusive:checked {
    image: url(ICON_PATH/icon_checkbox_on.png)
}

QMenu::indicator:non-exclusive:unchecked  {
    image: url(ICON_PATH/icon_checkbox_off.png)
}

QMenu::indicator:non-exclusive:disabled  {
    image: url(ICON_PATH/icon_checkbox_off.png)
}

QMenu::item {
    border: 1px solid transparent;
    padding: 3px 25px 3px 25px;
    color: rgb(255, 255, 255, 200);
    background: rgb(30, 30, 30, 255);
}

QMenu QWidget {
    font: 14px;
    color: rgb(255, 255, 255, 180);
    background: rgb(30, 30, 30, 255);
    padding: 1px 10px 1px 0px;
}

QMenu::item:selected {
    color: rgb(255, 255, 255, 255);
    background: rgb(100, 175, 255, 100);
}

QMenu::separator {
    background-color: rgb(10, 10, 10, 255);
    height: 1px;
    padding: 0px 0px 0px 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

QMenu::indicator:non-exclusive {
    width: 16px;
    height: 16px;
    padding-left: 2px;
}
